<footer class="footer-transit">
<a class="subscribe-transit icon-rss" target="_blank" href="{{@blog.url}}/rss/">RSS forever.</a>
<div class="footertext-transit">&copy; {{date format='YYYY'}} </div>
</footer>