<footer class="footer_transit">
<a class="subscribe_transit icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_transit">Let's bring back RSS.</span></a>
<div class="footertext_transit">All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format='YYYY'}} &bull; All rights reserved.</div>
<div class="footertext_transit">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>