{{!< default}}
{{> header}}
<main class="main_transit" role="main">
{{#post}}
<article class="article_transit" role="article" itemscope itemtype="http://schema.org/Article">
<header class="postheader_transit">
<h1 class="posttitle_transit" itemprop="headline">{{title}}</h1>
</header>
<div class="postcontent_transit" itemprop="articleBody">
{{content}}
</div>
</article>
{{/post}}
</main>
{{> footer}}