:root {
    --readable-width: 36em;
  }

body { 
    background: white;
    /* background: linear-gradient(70deg, yellow, white); */
    font-family: 'Inconsolata', monospace;
    /* text-align: center; */
}

/* Classic typographic scale: if default 16px total size scale would be:
9px, 10px, 11px, 12px, 16px, 18px, 21px, 24px, 36px, 48px, 60px, 72px
  */

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid lightblue;
    box-shadow: 0px -2px 0px lightblue inset;
}

a:hover {
    background-color: lightblue;
 }
 
a:visited {
    color: black;

}
 
a:focus {
    outline: thin dotted;
}
 
a:active,
a:hover {
    outline: 0;
}



h1.blogtitle-transit, h1.blogtitle-transit a {
    font-size: 4.5rem;
    margin: 0;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}
p.blogdescription-transit, p.blogdescription-transit a {
    font-size: 1.313rem;
    margin: 0;
    text-decoration: none;
}

p {
    font-size: 1em;
}

h1 { 
  font-family: 'Space Mono', monospace;
  font-size: 3em;
  margin-top: 0.563em;
  margin-bottom: 0.25em;
}
 
h2 {
  font-size: 2.25em;
  margin: 0.625em 0;
}
 
h3 {
  font-size: 1.5em;
  margin: 1.313em 0;
}
 
h4 {
  font-size: 1.313em;
  margin: 1.313em 0;
}
 
h5 {
  font-size: 1.125em;
  margin: 1.313em 0;
}
 
h6 {
  font-size: 1em;
  margin: 0.75em 0;
}

img {
    /* border: 0; */
    border: 1px solid blue;
    box-shadow: 3px 4px 0px blue;
    max-width: 100%;
    height: auto;
}

.tag-heading {
    font-size: 2rem;
    padding: 0 0 2rem 0;
    text-align: center;
    margin-bottom: 0.25rem;
}

.article-transit {
    padding: 1em;
}

.header-transit {
  margin-bottom: 0.25em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

.postheader-transit{
  text-align: center;
}

.date-transit {
  font-style: italic;
}

.blogtitle-transit {
    background: white;
    color: blue;
    border: 1px solid blue;
    box-shadow: 3px 4px 0px blue;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

.blogtitle-transit:visited {
    color: blue;
}

.posttitle-transit {
    color: white;
    background: blue;
    border: 1px solid lightgrey;
    box-shadow: 3px 4px 0px lightgrey;
    padding-left: .15em;
    padding-right: .15em;
    display: inline-block;
    text-align: center;
}

.postlink-transit {
    color: white;
    border-bottom: none;
    box-shadow: none;
    text-decoration: none;
}

.postlink-transit:visited {
    color: white;
}

.posttitle-transit:hover {
    background: lightblue;
}

.subscribe-transit {
    color: white;
    background: yellow;
    border: 1px solid grey;
    box-shadow: 3px 4px 0px grey;
    padding-left: .5em;
    padding-right: .5em;
    text-decoration: none;
}

.subscribe-transit:hover{
    background: lightblue;
}

.postcontent-transit {
  font-size: 1.2em;
  /* background-color: white; */
}

.wrapper-transit {
    width:100%;

    margin: 0.25em auto 0 auto;
    /* padding-bottom: @add-padding / 2 + 0em; */
}

.authorimage-transit{
    padding-top: 1em;
}

.footer-transit{
    text-align: center;
}

.footertext-transit{
    margin-top: .5em;
}

.pagination{
    text-align:center;
}

.tags{
    text-align:center;
    margin-top: .5em;
}

ul.nav {
    list-style-type: none;
    margin-top: 1.5em;
    padding: 0;
    display: flex;
    justify-content: center;
} 

.nav-item {
    margin: 0 0.25em;
    padding: 0.75em 1em;
    background: white;
    border: 1px solid red;
    box-shadow: 3px 4px 0px red;
}

.nav-item:hover{
    background: lightblue;
}

.nav-link {
    text-decoration: none;
    border-bottom: none;
    box-shadow: none;
    color: red;
}

.nav-link:visited {
    color: red;
}

/*The below makes the site more responsive.*/
@media only screen and (max-device-width: 768px){
    /*Preventing the blog post titles from sizing too unevenly.*/
    h1 {
        font-size: 2em;
        max-width: 100%;
    }

    /*Preventing the title from bleeding across the top.*/
    .blogtitle-transit{
        padding-left: .5em;
        padding-right: .5em;
    }
}